html {
    height: 100%;
    width: 100%;
}
a, p {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    text-decoration: underline;
}
#navbar {
    display: grid;
    grid-template-columns:50px 50px 1fr 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "about store . gmail images menu sign-in";
    margin: 0 20px 0 10px;
}
#about {
    grid-area: about;
    justify-self: center;
    align-self: center;
}
#store {
    grid-area: store;
    justify-self: center;
    align-self: center;
}
#gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}
#images {
    grid-area: images;
    justify-self: center;
    align-self: center;
}
#menu {
    grid-area: menu;
    justify-self: center;
    align-self: center;
}
#sign-in {
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
    background-color: #4683ea;
    height: 30px;
    width: 60px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid #4285f4;
}
#master {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px, 200px, 150px, 70px;
    grid-template-areas: 
    ". logo ."
    ". search ."
    ". flexbox ."
    ". google-text .";
}
#logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
}
#search {
    margin-top: 20px;
    grid-area: search;
    height: 30px ;
    width: 100%;
    align-self: center;
    justify-self: center;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 30px;
}
#search:hover {
    box-shadow: 1px 1px 5px gray;
}
#search:focus {
    box-shadow: 1px 1px 5px gray;
}
#flexbox {
    display: flexbox;
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
}
#google-search-btn {
    border: 1px solid transparent;
	padding: 9px 15px;
	color: #666;
	font-size: 14px;
	border-radius: 4px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 28px;
	outline: none;
	cursor: pointer;
	transition: border-color 100ms;
}
#google-search-btn:hover {
    border: 1px solid #aaa;
}
#random-search-btn {
    border: 1px solid transparent;
	padding: 9px 15px;
	color: #666;
	font-size: 14px;
	border-radius: 4px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 28px;
	outline: none;
	cursor: pointer;
	transition: border-color 100ms;
}
#random-search-btn:hover {
    border: 1px solid #aaa;
}
#google-text {
    grid-area: google-text;
    justify-self: center;
    margin-top: 30px;
}
#footer {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 100px 100px 150px 965px 70px 70px 70px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "advertising business hsw . privacy terms settings";
    background-color: #f2f2f2;
}
#advertising {
    grid-area: advertising;
    justify-self: center;
    align-self: center;
}
#business {
    grid-area: business;
    justify-self: center;
    align-self: center;
}
#hsw {
    grid-area: hsw;
    justify-self: center;
    align-self: center;
}
#privacy {
    grid-area: privacy;
    justify-self: center;
    align-self: center;
}
#terms {
    grid-area: terms;
    justify-self: center;
    align-self: center;
}
#settings{
    grid-area: settings;
    justify-self: center;
    align-self: center;
}
/*#romania {
    grid-area: romania;
    justify-self: center;
    align-self: center;
}*/